html {
  height: 100%;
  max-width: 100%;
}
body {
  min-height: 100%;
  max-width: 100%;
}

.card {
  padding: 0;
  width: 20rem;
  margin-right: 8px;
}
.card-text {
  color: #999999;
  margin-bottom: 5.5px;
  font-size: 14px;
  display: block;
}

.card-title {
  font-weight: bold;
  font-size: 30px;
  margin-top: 0;
  margin-bottom: 0px;
}

.cell-markdown {
  padding: 4px;
}
.cell-markdown p  {
  margin-bottom: 0; 
}

.dash-table-container .dash-spreadsheet-container .dash-spreadsheet-inner input:not([type=radio]):not([type=checkbox]){
  color: #f3f3f3!important;
}