openapi: '3.0.0'
info:
  version: 1.0.0
  title: Traceability Open API Interoperability Profile
  description: Identifier and Credentials APIs for DID.
  license:
    name: Apache.20

servers:
  - url: https://api.did.actor

tags:
  - name: Discovery
  - name: Identifiers
  - name: Credentials
  - name: Presentations

paths:
  /did.json:
    $ref: './resources/api-configuration.yml'

  /identifiers/{did}:
    $ref: './resources/did.yml'

  /api/credentials/issue:
    $ref: './resources/credential-issuer.yml'
  /api/credentials/status:
    $ref: './resources/credential-status.yml'
  /api/credentials/verify:
    $ref: './resources/credential-verifier.yml'
  /credentials/{credential-id}:
    $ref: './resources/credential.yml'

  /api/presentations:
    $ref: './resources/presentations.yml'
  /api/presentations/prove:
    $ref: './resources/presentation-prover.yml'
  /api/presentations/verify:
    $ref: './resources/presentation-verifier.yml'
  /api/presentations/available:
    $ref: './resources/presentation-available.yml'
  /api/presentations/submissions:
    $ref: './resources/presentation-submissions.yml'

components:
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        clientCredentials:
          authorizationUrl: https://example.com/authorize
          tokenUrl: https://example.com/oauth/token
          redirectUri: 'http://localhost:5000/oauth2-redirect.html'
          scopes:
            'resolve:did': Grants permission to resolve DIDs
            'create:credential': Grants permission issue Verifiable Credentials
            'verify:credential': Grants permission verify Verifiable Credentials
            'read:credential': Grants permission to get Verifiable Credentials
            'update:credential': Grants permission to update the status of Verifiable Credentials
            'create:presentation': Grants permission to proof Verifiable Presentations
            'verify:presentation': Grants permission verify Verifiable Presentations
            'exchange:presentation': Grants permission present Verifiable Presentations
  parameters:
    $ref: './parameters/_index.yml'
  schemas:
    $ref: './schemas/_index.yml'
  responses:
    $ref: './responses/_index.yml'
