{
  "openapi": "3.0.0",
  "info": {
    "version": "1.0.0",
    "title": "Traceability Open API Interoperability Profile",
    "description": "Identifier and Credentials APIs for DID.",
    "license": {
      "name": "Apache.20"
    }
  },
  "servers": [
    {
      "url": "https://api.did.actor"
    }
  ],
  "tags": [
    {
      "name": "Discovery"
    },
    {
      "name": "Identifiers"
    },
    {
      "name": "Credentials"
    },
    {
      "name": "Presentations"
    }
  ],
  "paths": {
    "/did.json": {
      "get": {
        "summary": "API Configuration",
        "operationId": "getTraceabilityAPIConfiguration",
        "tags": [
          "Discovery"
        ],
        "responses": {
          "200": {
            "description": "Expected response to a valid request",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Traceability API DID Web Document",
                  "type": "object",
                  "properties": {
                    "@context": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "id": {
                      "type": "string"
                    },
                    "alsoKnownAs": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "service": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          },
                          "serviceEndpoint": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  },
                  "example": {
                    "@context": [
                      "https://www.w3.org/ns/did/v1",
                      {
                        "@vocab": "https://www.w3.org/ns/did/#"
                      }
                    ],
                    "id": "did:web:api.did.actor:api",
                    "alsoKnownAs": [
                      "did:key:z6MktiSzqF9kqwdU8VkdBKx56EYzXfpgnNPUAGznpicNiWfn"
                    ],
                    "services": [
                      {
                        "id": "did:web:api.did.actor:api#traceability-api",
                        "type": "TraceabilityAPI",
                        "serviceEndpoint": "https://api.did.actor/api"
                      }
                    ]
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        }
      }
    },
    "/identifiers/{did}": {
      "get": {
        "summary": "Resolve",
        "operationId": "resolve",
        "description": "Get a DID's latest keys, services and capabilities",
        "tags": [
          "Identifiers"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/did"
          }
        ],
        "responses": {
          "200": {
            "description": "Expected response to a valid request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "didDocument"
                  ],
                  "properties": {
                    "didDocument": {
                      "type": "object"
                    },
                    "didResolutionMetadata": {
                      "type": "object"
                    },
                    "didDocumentMetadata": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        }
      }
    },
    "/api/credentials/issue": {
      "post": {
        "summary": "Create",
        "operationId": "issueCredential",
        "description": "Issue a credential",
        "tags": [
          "Credentials"
        ],
        "parameters": [
          {
            "name": "linked-data-suite-proof-type",
            "in": "header",
            "required": false,
            "description": "A linked data suite proof type",
            "example": "JsonWebSignature2020",
            "schema": {
              "type": "string",
              "enum": [
                "Ed25519Signature2018",
                "JsonWebSignature2020"
              ]
            }
          },
          {
            "name": "vc-format",
            "in": "header",
            "required": true,
            "description": "A verifiable credential format",
            "example": "vc",
            "schema": {
              "type": "string",
              "enum": [
                "vc",
                "vc-jwt"
              ]
            }
          }
        ],
        "requestBody": {
          "description": "Parameters for verifying the credential.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "credential": {
                    "type": "object",
                    "properties": {
                      "@context": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "id": {
                        "type": "string"
                      },
                      "type": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "issuanceDate": {
                        "type": "string"
                      },
                      "credentialSubject": {
                        "oneOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "object"
                          }
                        ]
                      }
                    },
                    "example": {
                      "@context": [
                        "https://www.w3.org/2018/credentials/v1"
                      ],
                      "id": "urn:uuid:07aa969e-b40d-4c1b-ab46-ded252003ded",
                      "type": [
                        "VerifiableCredential"
                      ],
                      "issuer": "did:key:z6MktiSzqF9kqwdU8VkdBKx56EYzXfpgnNPUAGznpicNiWfn",
                      "issuanceDate": "2010-01-01T19:23:24Z",
                      "credentialSubject": "did:key:z6MktiSzqF9kqwdU8VkdBKx56EYzXfpgnNPUAGznpicNiWfn"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Expected response to a valid request",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Serialized Verifiable Credential",
                  "oneOf": [
                    {
                      "title": "Verifiable Credential",
                      "type": "object",
                      "allOf": [
                        {
                          "$ref": "#/paths/~1api~1credentials~1issue/post/requestBody/content/application~1json/schema/properties/credential"
                        },
                        {
                          "type": "object",
                          "properties": {
                            "proof": {
                              "$ref": "#/paths/~1credentials~1%7Bcredential-id%7D/get/responses/200/content/application~1json/schema/allOf/1/properties/proof"
                            }
                          }
                        }
                      ],
                      "example": {
                        "@context": [
                          "https://www.w3.org/2018/credentials/v1"
                        ],
                        "id": "urn:uuid:07aa969e-b40d-4c1b-ab46-ded252003ded",
                        "type": [
                          "VerifiableCredential"
                        ],
                        "issuer": "did:key:z6MktiSzqF9kqwdU8VkdBKx56EYzXfpgnNPUAGznpicNiWfn",
                        "issuanceDate": "2010-01-01T19:23:24Z",
                        "credentialSubject": "did:key:z6MktiSzqF9kqwdU8VkdBKx56EYzXfpgnNPUAGznpicNiWfn",
                        "proof": {
                          "type": "Ed25519Signature2018",
                          "created": "2021-10-30T19:16:30Z",
                          "verificationMethod": "did:key:z6MktiSzqF9kqwdU8VkdBKx56EYzXfpgnNPUAGznpicNiWfn#z6MktiSzqF9kqwdU8VkdBKx56EYzXfpgnNPUAGznpicNiWfn",
                          "proofPurpose": "assertionMethod",
                          "jws": "eyJhbGciOiJFZERTQSIsImI2NCI6ZmFsc2UsImNyaXQiOlsiYjY0Il19..puetBYS3pkYlYzAecBiT-WkigYAlVbslrz9wPFnk9JW4AwjrpJvcsSdZJPhZtNy_myMJUNzC_QaYyw3ni1V0BA"
                        }
                      }
                    },
                    {
                      "title": "VC JWT",
                      "type": "string",
                      "example": "eyJhbGciOiJFZERTQSIsImtpZCI6ImRpZDprZXk6ejZNa3RpU3pxRjlrcXdkVThWa2RCS3g1NkVZelhmcGduTlBVQUd6bnBpY05pV2ZuI3o2TWt0aVN6cUY5a3F3ZFU4VmtkQkt4NTZFWXpYZnBnbk5QVUFHem5waWNOaVdmbiJ9.eyJpc3MiOiJkaWQ6a2V5Ono2TWt0aVN6cUY5a3F3ZFU4VmtkQkt4NTZFWXpYZnBnbk5QVUFHem5waWNOaVdmbiIsInN1YiI6ImRpZDprZXk6ejZNa3RpU3pxRjlrcXdkVThWa2RCS3g1NkVZelhmcGduTlBVQUd6bnBpY05pV2ZuIiwidmMiOnsiQGNvbnRleHQiOlsiaHR0cHM6Ly93d3cudzMub3JnLzIwMTgvY3JlZGVudGlhbHMvdjEiLCJodHRwczovL3czaWQub3JnL3NlY3VyaXR5L3N1aXRlcy9qd3MtMjAyMC92MSJdLCJpZCI6InVybjp1dWlkOjA3YWE5NjllLWI0MGQtNGMxYi1hYjQ2LWRlZDI1MjAwM2RlZCIsInR5cGUiOlsiVmVyaWZpYWJsZUNyZWRlbnRpYWwiXSwiaXNzdWVyIjoiZGlkOmtleTp6Nk1rdGlTenFGOWtxd2RVOFZrZEJLeDU2RVl6WGZwZ25OUFVBR3pucGljTmlXZm4iLCJpc3N1YW5jZURhdGUiOiIyMDEwLTAxLTAxVDE5OjIzOjI0WiIsImNyZWRlbnRpYWxTdWJqZWN0IjoiZGlkOmtleTp6Nk1rdGlTenFGOWtxd2RVOFZrZEJLeDU2RVl6WGZwZ25OUFVBR3pucGljTmlXZm4ifSwianRpIjoidXJuOnV1aWQ6MDdhYTk2OWUtYjQwZC00YzFiLWFiNDYtZGVkMjUyMDAzZGVkIiwibmJmIjoxMjYyMzczODA0fQ.ZXlKaGJHY2lPaUpGWkVSVFFTSXNJbUkyTkNJNlptRnNjMlVzSW1OeWFYUWlPbHNpWWpZMElsMTkuLlBUZ1N5UndTRmdRRmZRQXJRSkVfUm43c3cyNzJRZnhlTUZjYk16R05KZDRKVGtWS3d4a2p1UzRXQV9xTGdhM2NGYzRKd0JILXJPMk5haTFfRExsWEF3"
                    }
                  ],
                  "example": {
                    "@context": [
                      "https://www.w3.org/2018/credentials/v1"
                    ],
                    "id": "urn:uuid:07aa969e-b40d-4c1b-ab46-ded252003ded",
                    "type": [
                      "VerifiableCredential"
                    ],
                    "issuer": "did:key:z6MktiSzqF9kqwdU8VkdBKx56EYzXfpgnNPUAGznpicNiWfn",
                    "issuanceDate": "2010-01-01T19:23:24Z",
                    "credentialSubject": "did:key:z6MktiSzqF9kqwdU8VkdBKx56EYzXfpgnNPUAGznpicNiWfn",
                    "proof": {
                      "type": "Ed25519Signature2018",
                      "created": "2021-10-30T19:16:30Z",
                      "verificationMethod": "did:key:z6MktiSzqF9kqwdU8VkdBKx56EYzXfpgnNPUAGznpicNiWfn#z6MktiSzqF9kqwdU8VkdBKx56EYzXfpgnNPUAGznpicNiWfn",
                      "proofPurpose": "assertionMethod",
                      "jws": "eyJhbGciOiJFZERTQSIsImI2NCI6ZmFsc2UsImNyaXQiOlsiYjY0Il19..puetBYS3pkYlYzAecBiT-WkigYAlVbslrz9wPFnk9JW4AwjrpJvcsSdZJPhZtNy_myMJUNzC_QaYyw3ni1V0BA"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        }
      }
    },
    "/api/credentials/status": {
      "post": {
        "summary": "Update Status",
        "operationId": "updateCredentialStatus",
        "description": "Updates the status of an issued credential.",
        "tags": [
          "Credentials"
        ],
        "requestBody": {
          "description": "Parameters for updating the status of the issued credential.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Request for updating the status of an issued credential.",
                "properties": {
                  "credentialId": {
                    "type": "string"
                  },
                  "credentialStatus": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string"
                        },
                        "status": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "credentialId": "urn:uuid:45a44711-e457-4fa8-9b89-69fe0287c86a",
                  "credentialStatus": [
                    {
                      "type": "RevocationList2020Status",
                      "status": "0"
                    }
                  ]
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Credential status successfully updated"
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Credential not found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/credentials/verify": {
      "post": {
        "summary": "Verify",
        "operationId": "verifyCredential",
        "description": "Verify a credential",
        "tags": [
          "Credentials"
        ],
        "parameters": [
          {
            "$ref": "#/paths/~1api~1credentials~1issue/post/parameters/1"
          }
        ],
        "requestBody": {
          "description": "Parameters for verifying a credential.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "verifiableCredential": {
                    "$ref": "#/paths/~1api~1credentials~1issue/post/responses/200/content/application~1json/schema"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Expected response to a valid request",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Verification Result",
                  "type": "object",
                  "properties": {
                    "verified": {
                      "type": "boolean"
                    }
                  },
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        }
      }
    },
    "/credentials/{credential-id}": {
      "get": {
        "summary": "Get Credential",
        "operationId": "getCredentialById",
        "description": "Get a verifiable credential by id. Required to make revocable credentials.",
        "tags": [
          "Credentials"
        ],
        "parameters": [
          {
            "name": "credential-id",
            "in": "path",
            "required": true,
            "description": "A verifiable credential id",
            "example": "810b3c74-4e80-420d-a8fe-7bde4c978e91",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Expected response to a valid request",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Revocation List Verifiable Credential",
                  "type": "object",
                  "allOf": [
                    {
                      "$ref": "#/paths/~1api~1credentials~1issue/post/requestBody/content/application~1json/schema/properties/credential"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "proof": {
                          "title": "Credential Linked Data Proof",
                          "allOf": [
                            {
                              "title": "Linked Data Proof",
                              "type": "object",
                              "description": "A JSON-LD Linked Data proof.",
                              "properties": {
                                "type": {
                                  "type": "string",
                                  "description": "Linked Data Signature Suite used to produce proof.",
                                  "enum": [
                                    "JsonWebSignature2020"
                                  ]
                                },
                                "created": {
                                  "type": "string",
                                  "description": "Date the proof was created."
                                },
                                "verificationMethod": {
                                  "type": "string",
                                  "description": "Verification Method used to verify proof."
                                },
                                "jws": {
                                  "type": "string",
                                  "description": "Detached JSON Web Signature"
                                }
                              },
                              "example": {
                                "type": "JsonWebSignature2020",
                                "created": "2020-04-02T18:28:08Z",
                                "verificationMethod": "did:example:123#z6MksHh7qHWvybLg5QTPPdG2DgEjjduBDArV9EF9mRiRzMBN",
                                "proofPurpose": "assertionMethod",
                                "jws": "eyJhbGciOiJFZERTQSIsImI2NCI6ZmFsc2UsImNyaXQiOlsiYjY0Il19..YtqjEYnFENT7fNW-COD0HAACxeuQxPKAmp4nIl8jYAu__6IH2FpSxv81w-l5PvE1og50tS9tH8WyXMlXyo45CA"
                              }
                            },
                            {
                              "type": "object",
                              "properties": {
                                "proofPurpose": {
                                  "type": "string",
                                  "description": "Credentials rely on assertionMethod proof purpose.",
                                  "enum": [
                                    "assertionMethod"
                                  ]
                                }
                              }
                            }
                          ]
                        }
                      }
                    }
                  ],
                  "example": {
                    "@context": [
                      "https://www.w3.org/2018/credentials/v1",
                      "https://w3id.org/vc-revocation-list-2020/v1"
                    ],
                    "id": "https://api.did.actor/revocation-lists/1.json",
                    "issuer": "did:key:z6MktiSzqF9kqwdU8VkdBKx56EYzXfpgnNPUAGznpicNiWfn",
                    "issuanceDate": "2010-01-01T19:23:24Z",
                    "type": [
                      "VerifiableCredential",
                      "RevocationList2020Credential"
                    ],
                    "credentialSubject": {
                      "id": "https://api.did.actor/revocation-lists/1.json#list",
                      "type": "RevocationList2020",
                      "encodedList": "H4sIAAAAAAAAA-3BMQEAAADCoPVPbQwfoAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAC-BthKQuJI6AEA"
                    },
                    "proof": {
                      "type": "Ed25519Signature2018",
                      "created": "2021-10-31T15:32:58Z",
                      "verificationMethod": "did:key:z6MktiSzqF9kqwdU8VkdBKx56EYzXfpgnNPUAGznpicNiWfn#z6MktiSzqF9kqwdU8VkdBKx56EYzXfpgnNPUAGznpicNiWfn",
                      "proofPurpose": "assertionMethod",
                      "jws": "eyJhbGciOiJFZERTQSIsImI2NCI6ZmFsc2UsImNyaXQiOlsiYjY0Il19..VYhq0wja7zOpoTfBesV0Me_0Lhj2eDdbDlwGXSTpRzrHI5F1Zu1dGuRQETnBY2XGOJRgPtb8iFdbhJQhwLvHAA"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        }
      }
    },
    "/api/presentations/prove": {
      "post": {
        "summary": "Create",
        "operationId": "provePresentation",
        "description": "Create a presentation",
        "tags": [
          "Presentations"
        ],
        "parameters": [
          {
            "$ref": "#/paths/~1api~1credentials~1issue/post/parameters/0"
          },
          {
            "name": "vp-format",
            "in": "header",
            "required": true,
            "description": "A verifiable presentation format",
            "example": "vp",
            "schema": {
              "type": "string",
              "enum": [
                "vp",
                "vp-jwt"
              ]
            }
          }
        ],
        "requestBody": {
          "description": "Parameters for creating the presentation.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "presentation": {
                    "title": "Presentation",
                    "type": "object",
                    "properties": {
                      "@context": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "id": {
                        "type": "string"
                      },
                      "type": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "holder": {
                        "type": "string"
                      },
                      "verifiableCredential": {
                        "type": "array",
                        "items": {
                          "$ref": "#/paths/~1api~1credentials~1issue/post/responses/200/content/application~1json/schema"
                        }
                      }
                    },
                    "example": {
                      "@context": [
                        "https://www.w3.org/2018/credentials/v1"
                      ],
                      "type": [
                        "VerifiablePresentation"
                      ],
                      "holder": "did:key:z6MktiSzqF9kqwdU8VkdBKx56EYzXfpgnNPUAGznpicNiWfn",
                      "verifiableCredential": [
                        {
                          "@context": [
                            "https://www.w3.org/2018/credentials/v1"
                          ],
                          "id": "urn:uuid:07aa969e-b40d-4c1b-ab46-ded252003ded",
                          "type": [
                            "VerifiableCredential"
                          ],
                          "issuer": "did:key:z6MktiSzqF9kqwdU8VkdBKx56EYzXfpgnNPUAGznpicNiWfn",
                          "issuanceDate": "2010-01-01T19:23:24Z",
                          "credentialSubject": "did:key:z6MktiSzqF9kqwdU8VkdBKx56EYzXfpgnNPUAGznpicNiWfn",
                          "proof": {
                            "type": "Ed25519Signature2018",
                            "created": "2021-10-30T19:16:30Z",
                            "verificationMethod": "did:key:z6MktiSzqF9kqwdU8VkdBKx56EYzXfpgnNPUAGznpicNiWfn#z6MktiSzqF9kqwdU8VkdBKx56EYzXfpgnNPUAGznpicNiWfn",
                            "proofPurpose": "assertionMethod",
                            "jws": "eyJhbGciOiJFZERTQSIsImI2NCI6ZmFsc2UsImNyaXQiOlsiYjY0Il19..puetBYS3pkYlYzAecBiT-WkigYAlVbslrz9wPFnk9JW4AwjrpJvcsSdZJPhZtNy_myMJUNzC_QaYyw3ni1V0BA"
                          }
                        }
                      ]
                    }
                  },
                  "options": {
                    "type": "object",
                    "properties": {
                      "domain": {
                        "type": "string",
                        "example": "jobs.example"
                      },
                      "challenge": {
                        "type": "string",
                        "example": "1f44d55f-f161-4938-a659-f8026467f126"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Expected response to a valid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1api~1credentials~1issue/post/responses/200/content/application~1json/schema"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        }
      }
    },
    "/api/presentations/verify": {
      "post": {
        "summary": "Verify",
        "operationId": "verifyPresentation",
        "description": "Verify a presentation",
        "tags": [
          "Presentations"
        ],
        "parameters": [
          {
            "$ref": "#/paths/~1api~1presentations~1prove/post/parameters/1"
          }
        ],
        "requestBody": {
          "description": "Parameters for verifying the presentation.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "verifiablePresentation": {
                    "title": "Serialized Verifiable Presentation",
                    "oneOf": [
                      {
                        "$ref": "#/paths/~1api~1presentations~1submissions/post/requestBody/content/application~1json/schema"
                      },
                      {
                        "title": "VP JWT",
                        "type": "string",
                        "example": "eyJhbGciOiJFZERTQSIsImtpZCI6ImRpZDprZXk6ejZNa3RpU3pxRjlrcXdkVThWa2RCS3g1NkVZelhmcGduTlBVQUd6bnBpY05pV2ZuI3o2TWt0aVN6cUY5a3F3ZFU4VmtkQkt4NTZFWXpYZnBnbk5QVUFHem5waWNOaVdmbiJ9.eyJpc3MiOiJkaWQ6a2V5Ono2TWt0aVN6cUY5a3F3ZFU4VmtkQkt4NTZFWXpYZnBnbk5QVUFHem5waWNOaVdmbiIsInN1YiI6ImRpZDprZXk6ejZNa3RpU3pxRjlrcXdkVThWa2RCS3g1NkVZelhmcGduTlBVQUd6bnBpY05pV2ZuIiwidnAiOnsiQGNvbnRleHQiOlsiaHR0cHM6Ly93d3cudzMub3JnLzIwMTgvY3JlZGVudGlhbHMvdjEiLCJodHRwczovL3czaWQub3JnL3NlY3VyaXR5L3N1aXRlcy9qd3MtMjAyMC92MSJdLCJ0eXBlIjpbIlZlcmlmaWFibGVQcmVzZW50YXRpb24iXSwiaG9sZGVyIjoiZGlkOmtleTp6Nk1rdGlTenFGOWtxd2RVOFZrZEJLeDU2RVl6WGZwZ25OUFVBR3pucGljTmlXZm4iLCJ2ZXJpZmlhYmxlQ3JlZGVudGlhbCI6W3siQGNvbnRleHQiOlsiaHR0cHM6Ly93d3cudzMub3JnLzIwMTgvY3JlZGVudGlhbHMvdjEiXSwiaWQiOiJ1cm46dXVpZDowN2FhOTY5ZS1iNDBkLTRjMWItYWI0Ni1kZWQyNTIwMDNkZWQiLCJ0eXBlIjpbIlZlcmlmaWFibGVDcmVkZW50aWFsIl0sImlzc3VlciI6ImRpZDprZXk6ejZNa3RpU3pxRjlrcXdkVThWa2RCS3g1NkVZelhmcGduTlBVQUd6bnBpY05pV2ZuIiwiaXNzdWFuY2VEYXRlIjoiMjAxMC0wMS0wMVQxOToyMzoyNFoiLCJjcmVkZW50aWFsU3ViamVjdCI6ImRpZDprZXk6ejZNa3RpU3pxRjlrcXdkVThWa2RCS3g1NkVZelhmcGduTlBVQUd6bnBpY05pV2ZuIiwicHJvb2YiOnsidHlwZSI6IkVkMjU1MTlTaWduYXR1cmUyMDE4IiwiY3JlYXRlZCI6IjIwMjEtMTAtMzBUMTk6MTY6MzBaIiwidmVyaWZpY2F0aW9uTWV0aG9kIjoiZGlkOmtleTp6Nk1rdGlTenFGOWtxd2RVOFZrZEJLeDU2RVl6WGZwZ25OUFVBR3pucGljTmlXZm4jejZNa3RpU3pxRjlrcXdkVThWa2RCS3g1NkVZelhmcGduTlBVQUd6bnBpY05pV2ZuIiwicHJvb2ZQdXJwb3NlIjoiYXNzZXJ0aW9uTWV0aG9kIiwiandzIjoiZXlKaGJHY2lPaUpGWkVSVFFTSXNJbUkyTkNJNlptRnNjMlVzSW1OeWFYUWlPbHNpWWpZMElsMTkuLnB1ZXRCWVMzcGtZbFl6QWVjQmlULVdraWdZQWxWYnNscno5d1BGbms5Slc0QXdqcnBKdmNzU2RaSlBoWnROeV9teU1KVU56Q19RYVl5dzNuaTFWMEJBIn19XX0sImF1ZCI6InN0cmluZyIsIm5vbmNlIjoiMWY0NGQ1NWYtZjE2MS00OTM4LWE2NTktZjgwMjY0NjdmMTI2In0.ZXlKaGJHY2lPaUpGWkVSVFFTSXNJbUkyTkNJNlptRnNjMlVzSW1OeWFYUWlPbHNpWWpZMElsMTkuLlcwT0dYSkVyT2xrSy1aSkxDR3Q1SWQ2WG9KYnZERGI2cGV2ZmhsblhWOW9CTWhQTTdhRFlBSmFRVFBKeG9neW4xd19MTHgzRHdnN3hvVGRwZllSTUJB"
                      }
                    ],
                    "example": {
                      "@context": [
                        "https://www.w3.org/2018/credentials/v1",
                        "https://w3id.org/security/suites/jws-2020/v1"
                      ],
                      "type": [
                        "VerifiablePresentation"
                      ],
                      "holder": "did:key:z6MktiSzqF9kqwdU8VkdBKx56EYzXfpgnNPUAGznpicNiWfn",
                      "verifiableCredential": [
                        {
                          "@context": [
                            "https://www.w3.org/2018/credentials/v1",
                            "https://w3id.org/security/suites/jws-2020/v1"
                          ],
                          "id": "urn:uuid:07aa969e-b40d-4c1b-ab46-ded252003ded",
                          "type": [
                            "VerifiableCredential"
                          ],
                          "issuer": "did:key:z6MktiSzqF9kqwdU8VkdBKx56EYzXfpgnNPUAGznpicNiWfn",
                          "issuanceDate": "2010-01-01T19:73:24Z",
                          "credentialSubject": "did:key:z6MktiSzqF9kqwdU8VkdBKx56EYzXfpgnNPUAGznpicNiWfn",
                          "proof": {
                            "type": "JsonWebSignature2020",
                            "created": "2021-10-23T15:54:28Z",
                            "verificationMethod": "did:key:z6MktiSzqF9kqwdU8VkdBKx56EYzXfpgnNPUAGznpicNiWfn#z6MkqUq7v7uhfBL9W6kGTKhfGDkWbZzA2JNbqJvVH11dZfuz",
                            "proofPurpose": "assertionMethod",
                            "jws": "eyJhbGciOiJFZERTQSIsImI2NCI6ZmFsc2UsImNyaXQiOlsiYjY0Il19..bUihRoflvMgyTszwcm1J-U860Gb6860508hruKIv3op2iLfK08_tBEkyvFu0d0r1VUkoPGJx88VvJJHwaSztCA"
                          }
                        }
                      ],
                      "proof": {
                        "type": "JsonWebSignature2020",
                        "created": "2021-10-23T16:42:12Z",
                        "verificationMethod": "did:key:z6MktiSzqF9kqwdU8VkdBKx56EYzXfpgnNPUAGznpicNiWfn#z6MkqUq7v7uhfBL9W6kGTKhfGDkWbZzA2JNbqJvVH11dZfuz",
                        "proofPurpose": "authentication",
                        "challenge": "1f44d55f-f161-4938-a659-f8026467f126",
                        "domain": "string",
                        "jws": "eyJhbGciOiJFZERTQSIsImI2NCI6ZmFsc2UsImNyaXQiOlsiYjY0Il19..tdlVfTxyOu1Imx1LxD9l2uJLhcm64ZQkaRij0eKcmks-65BHhq9ygkWVoF-28j8e3C-22o45uXQPLdZqVr87Cg"
                      }
                    }
                  },
                  "options": {
                    "type": "object",
                    "properties": {
                      "challenge": {
                        "type": "string",
                        "example": "e42ab41a-06c3-45f5-878a-b27928aab8bd"
                      },
                      "domain": {
                        "type": "string",
                        "example": "jobs.example"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Expected response to a valid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1api~1credentials~1verify/post/responses/200/content/application~1json/schema"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        }
      }
    },
    "/api/presentations/available": {
      "post": {
        "summary": "Notify",
        "operationId": "notifyPresentationAvailable",
        "description": "Start a presentation exchange flow",
        "tags": [
          "Presentations"
        ],
        "requestBody": {
          "description": "Description of the flow",
          "content": {
            "application/json": {
              "schema": {
                "title": "Notify Presentation Available",
                "type": "object",
                "properties": {
                  "query": {
                    "type": "object",
                    "description": "See https://w3c-ccg.github.io/vp-request-spec/#format",
                    "properties": {
                      "type": {
                        "type": "string",
                        "description": "The type of query the server should reply with."
                      },
                      "credentialQuery": {
                        "type": "object",
                        "description": "Details of the client's available presentation"
                      }
                    }
                  }
                },
                "example": {
                  "query": [
                    {
                      "type": "QueryByExample",
                      "credentialQuery": [
                        {
                          "type": [
                            "VerifiableCredential"
                          ],
                          "reason": "We want to present credentials."
                        }
                      ]
                    }
                  ]
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Expected response to a valid request",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Notify Presentation Requirements",
                  "type": "object",
                  "properties": {
                    "query": {
                      "type": "object",
                      "description": "See https://w3c-ccg.github.io/vp-request-spec/#format"
                    },
                    "domain": {
                      "type": "string",
                      "description": "See https://w3id.org/security#domain"
                    },
                    "challenge": {
                      "type": "string",
                      "description": "See https://w3id.org/security#challenge"
                    }
                  },
                  "example": {
                    "query": [
                      {
                        "type": "QueryByExample",
                        "credentialQuery": {
                          "example": {
                            "@context": [
                              "https://www.w3.org/2018/credentials/v1"
                            ],
                            "type": [
                              "VerifiableCredential"
                            ]
                          }
                        }
                      }
                    ],
                    "domain": "verifier.example.com",
                    "challenge": "3182bdea-63d9-11ea-b6de-3b7c1404d57f"
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        }
      }
    },
    "/api/presentations/submissions": {
      "post": {
        "summary": "Submit",
        "operationId": "storePresentation",
        "description": "End a presentation exchange flow",
        "tags": [
          "Presentations"
        ],
        "requestBody": {
          "description": "A Verifiable Presentation to Store",
          "content": {
            "application/json": {
              "schema": {
                "title": "Verifiable Presentation",
                "type": "object",
                "allOf": [
                  {
                    "$ref": "#/paths/~1api~1presentations~1prove/post/requestBody/content/application~1json/schema/properties/presentation"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "proof": {
                        "title": "Presentation Linked Data Proof",
                        "allOf": [
                          {
                            "$ref": "#/paths/~1credentials~1%7Bcredential-id%7D/get/responses/200/content/application~1json/schema/allOf/1/properties/proof/allOf/0"
                          },
                          {
                            "type": "object",
                            "properties": {
                              "proofPurpose": {
                                "type": "string",
                                "description": "Presentations rely on authentication proof purpose.",
                                "enum": [
                                  "authentication"
                                ]
                              }
                            }
                          }
                        ]
                      }
                    }
                  }
                ],
                "example": {
                  "@context": [
                    "https://www.w3.org/2018/credentials/v1"
                  ],
                  "id": "urn:uuid:07aa969e-b40d-4c1b-ab46-ded252003ded",
                  "type": [
                    "VerifiablePresentation"
                  ],
                  "holder": "did:key:z6MktiSzqF9kqwdU8VkdBKx56EYzXfpgnNPUAGznpicNiWfn",
                  "verifiableCredential": [
                    {
                      "@context": [
                        "https://www.w3.org/2018/credentials/v1",
                        "https://w3id.org/vc-revocation-list-2020/v1"
                      ],
                      "id": "urn:uuid:07aa969e-b40d-4c1b-ab46-ded252003ded",
                      "type": [
                        "VerifiableCredential"
                      ],
                      "issuer": "did:key:z6MktiSzqF9kqwdU8VkdBKx56EYzXfpgnNPUAGznpicNiWfn",
                      "issuanceDate": "2010-01-01T19:23:24Z",
                      "credentialStatus": {
                        "id": "https://api.did.actor/revocation-lists/1.json#0",
                        "type": "RevocationList2020Status",
                        "revocationListIndex": 0,
                        "revocationListCredential": "https://api.did.actor/revocation-lists/1.json"
                      },
                      "credentialSubject": {
                        "id": "did:example:123"
                      },
                      "proof": {
                        "type": "Ed25519Signature2018",
                        "created": "2021-10-31T19:14:41Z",
                        "verificationMethod": "did:key:z6MktiSzqF9kqwdU8VkdBKx56EYzXfpgnNPUAGznpicNiWfn#z6MktiSzqF9kqwdU8VkdBKx56EYzXfpgnNPUAGznpicNiWfn",
                        "proofPurpose": "assertionMethod",
                        "jws": "eyJhbGciOiJFZERTQSIsImI2NCI6ZmFsc2UsImNyaXQiOlsiYjY0Il19..zH7YvO8ihoDO4NWgzPu4kvvdQJjWAPOUlz7D1551U4uSMqOGjRmEGef6NSbIdxqCy5FxXwOD49KyPRU66LpwBA"
                      }
                    }
                  ],
                  "proof": {
                    "type": "Ed25519Signature2018",
                    "created": "2021-10-31T19:15:10Z",
                    "verificationMethod": "did:key:z6MktiSzqF9kqwdU8VkdBKx56EYzXfpgnNPUAGznpicNiWfn#z6MktiSzqF9kqwdU8VkdBKx56EYzXfpgnNPUAGznpicNiWfn",
                    "proofPurpose": "authentication",
                    "challenge": "e42ab41a-06c3-45f5-878a-b27928aab8bd",
                    "jws": "eyJhbGciOiJFZERTQSIsImI2NCI6ZmFsc2UsImNyaXQiOlsiYjY0Il19..QdPVT5CramMhVx09RJ57IZD2WA4i2Hw0oG9_-i8r4BEyMS36bWSsrnwNd9ERyLEqeo4-6mwUD-swu3Bxsj7lDg"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Expected response to a valid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1api~1credentials~1verify/post/responses/200/content/application~1json/schema"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "did": {
        "name": "did",
        "in": "path",
        "required": true,
        "description": "A decentralized identifier",
        "schema": {
          "type": "string"
        },
        "example": "did:key:z6MktiSzqF9kqwdU8VkdBKx56EYzXfpgnNPUAGznpicNiWfn"
      },
      "limit": {
        "name": "limit",
        "in": "query",
        "description": "How many items to return at one time (max 100)",
        "required": false,
        "schema": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "required": [
          "code",
          "message"
        ],
        "properties": {
          "code": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "responses": {
      "UnexpectedError": {
        "description": "unexpected error",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "NullResponse": {
        "description": "Null response"
      }
    }
  }
}
