{
  "openapi": "3.0.0",
  "info": {
    "version": "1.0.0",
    "title": "Open API for Interoperable Traceability",
    "description": "Identifier and Credentials APIs for DID.",
    "license": {
      "name": "Apache 2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "servers": [
    {
      "url": "https://api.did.actor"
    }
  ],
  "tags": [
    {
      "name": "Discovery"
    },
    {
      "name": "Identifiers"
    },
    {
      "name": "Credentials"
    },
    {
      "name": "Presentations"
    }
  ],
  "paths": {
    "/did.json": {
      "get": {
        "summary": "API Configuration",
        "operationId": "getTraceabilityAPIConfiguration",
        "tags": [
          "Discovery"
        ],
        "responses": {
          "200": {
            "description": "Expected response to a valid request",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Traceability API DID Web Document",
                  "type": "object",
                  "properties": {
                    "@context": {
                      "oneOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "array",
                          "uniqueItems": true,
                          "items": {
                            "oneOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "object"
                              }
                            ]
                          }
                        }
                      ]
                    },
                    "id": {
                      "type": "string"
                    },
                    "service": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "type": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "serviceEndpoint": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  },
                  "example": {
                    "@context": [
                      "https://www.w3.org/ns/did/v1",
                      "https://w3id.org/traceability/v1"
                    ],
                    "id": "did:web:api.did.actor:api",
                    "service": [
                      {
                        "id": "did:web:api.did.actor:api#traceability-api",
                        "type": [
                          "TraceabilityAPI"
                        ],
                        "serviceEndpoint": "https://api.did.actor/api"
                      }
                    ]
                  }
                }
              }
            }
          },
          "default": {
            "description": "Unexpected Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "message"
                  ],
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "details": {
                      "oneOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        {
                          "type": "object",
                          "additionalProperties": true
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/identifiers/{did}": {
      "get": {
        "summary": "Resolve",
        "operationId": "resolve",
        "description": "Get a DID's latest keys, services and capabilities",
        "tags": [
          "Identifiers"
        ],
        "security": [
          {
            "OAuth2": [
              "resolve:dids"
            ]
          }
        ],
        "parameters": [
          {
            "name": "did",
            "in": "path",
            "required": true,
            "description": "A decentralized identifier",
            "schema": {
              "type": "string"
            },
            "example": "did:key:z6MktiSzqF9kqwdU8VkdBKx56EYzXfpgnNPUAGznpicNiWfn"
          }
        ],
        "responses": {
          "200": {
            "description": "Expected response to a valid request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "didDocument"
                  ],
                  "properties": {
                    "didDocument": {
                      "type": "object",
                      "required": [
                        "service"
                      ],
                      "properties": {
                        "service": {
                          "type": "array",
                          "minItems": 1,
                          "items": {
                            "type": "object",
                            "required": [
                              "type",
                              "serviceEndpoint"
                            ],
                            "properties": {
                              "type": {
                                "oneOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "array",
                                    "items": {
                                      "type": "string"
                                    }
                                  }
                                ]
                              },
                              "serviceEndpoint": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    },
                    "didResolutionMetadata": {
                      "type": "object"
                    },
                    "didDocumentMetadata": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "description": "ErrInvalidDID is returned when the request path contains an invalid DID\nparameter.\n",
                  "allOf": [
                    {
                      "type": "object",
                      "required": [
                        "message"
                      ],
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "details": {
                          "oneOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            },
                            {
                              "type": "object",
                              "additionalProperties": true
                            }
                          ]
                        }
                      }
                    },
                    {
                      "type": "object",
                      "properties": {
                        "message": {
                          "enum": [
                            "Bad Request: Invalid DID"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "required": [
                        "message"
                      ],
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "details": {
                          "oneOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            },
                            {
                              "type": "object",
                              "additionalProperties": true
                            }
                          ]
                        }
                      }
                    },
                    {
                      "type": "object",
                      "properties": {
                        "message": {
                          "enum": [
                            "Unauthorized: This endpoint requires an OAuth2 bearer token"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "required": [
                        "message"
                      ],
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "details": {
                          "oneOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            },
                            {
                              "type": "object",
                              "additionalProperties": true
                            }
                          ]
                        }
                      }
                    },
                    {
                      "type": "object",
                      "properties": {
                        "message": {
                          "enum": [
                            "Forbidden: OAuth2 bearer token does not have the required scope"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "required": [
                        "message"
                      ],
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "details": {
                          "oneOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            },
                            {
                              "type": "object",
                              "additionalProperties": true
                            }
                          ]
                        }
                      }
                    },
                    {
                      "type": "object",
                      "properties": {
                        "message": {
                          "enum": [
                            "Not Found: The requested resource could not be found"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Unexpected Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "message"
                  ],
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "details": {
                      "oneOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        {
                          "type": "object",
                          "additionalProperties": true
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/credentials/issue": {
      "post": {
        "summary": "Create",
        "operationId": "issueCredential",
        "description": "Issue a credential",
        "tags": [
          "Credentials"
        ],
        "security": [
          {
            "OAuth2": [
              "issue:credentials"
            ]
          }
        ],
        "requestBody": {
          "description": "Parameters for issuing the credential.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "credential",
                  "options"
                ],
                "properties": {
                  "credential": {
                    "type": "object",
                    "required": [
                      "@context",
                      "type",
                      "issuer",
                      "issuanceDate",
                      "credentialSubject"
                    ],
                    "properties": {
                      "@context": {
                        "description": "The JSON-LD Context defining all terms in the Credential. This array\nSHOULD contain \"https://w3id.org/traceability/v1\".\n",
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "id": {
                        "description": "The IRI identifying the Credential",
                        "type": "string"
                      },
                      "type": {
                        "description": "The Type of the Credential",
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "minItems": 1
                      },
                      "issuer": {
                        "description": "This value MUST match the assertionMethod used to create the Verifiable Credential.",
                        "oneOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "object",
                            "required": [
                              "id"
                            ],
                            "properties": {
                              "id": {
                                "description": "The IRI identifying the Issuer",
                                "type": "string"
                              }
                            }
                          }
                        ]
                      },
                      "issuanceDate": {
                        "description": "This value MUST be an XML Date Time String",
                        "type": "string"
                      },
                      "credentialSubject": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "description": "The IRI identifying the Subject",
                            "type": "string"
                          }
                        }
                      }
                    },
                    "example": {
                      "@context": [
                        "https://www.w3.org/2018/credentials/v1",
                        "https://w3id.org/traceability/v1"
                      ],
                      "id": "urn:uuid:07aa969e-b40d-4c1b-ab46-ded252003ded",
                      "type": [
                        "VerifiableCredential"
                      ],
                      "issuer": "did:key:z6MktiSzqF9kqwdU8VkdBKx56EYzXfpgnNPUAGznpicNiWfn",
                      "issuanceDate": "2010-01-01T19:23:24Z",
                      "credentialSubject": {
                        "id": "did:key:z6MktiSzqF9kqwdU8VkdBKx56EYzXfpgnNPUAGznpicNiWfn"
                      }
                    }
                  },
                  "options": {
                    "title": "Issue Credential Options",
                    "type": "object",
                    "description": "Options for issuing a verifiable credential",
                    "required": [
                      "type"
                    ],
                    "properties": {
                      "type": {
                        "type": "string",
                        "description": "Linked Data Signature Suite or signal to use JWT.",
                        "enum": [
                          "Ed25519Signature2018",
                          "JsonWebSignature2020",
                          "jwt_vc"
                        ]
                      },
                      "created": {
                        "type": "string",
                        "description": "Date the proof was created. This value MUST be an XML Date Time String."
                      },
                      "credentialStatus": {
                        "type": "object",
                        "description": "The method of credential status.",
                        "required": [
                          "type"
                        ],
                        "properties": {
                          "type": {
                            "type": "string",
                            "description": "The type of credential status.",
                            "enum": [
                              "StatusList2021Entry"
                            ]
                          }
                        }
                      }
                    },
                    "example": {
                      "type": "JsonWebSignature2020",
                      "created": "2020-04-02T18:28:08Z",
                      "credentialStatus": {
                        "type": "StatusList2021Entry"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "verifiableCredential"
                  ],
                  "properties": {
                    "verifiableCredential": {
                      "title": "Serialized Verifiable Credential",
                      "oneOf": [
                        {
                          "title": "Verifiable Credential",
                          "type": "object",
                          "allOf": [
                            {
                              "type": "object",
                              "required": [
                                "@context",
                                "type",
                                "issuer",
                                "issuanceDate",
                                "credentialSubject"
                              ],
                              "properties": {
                                "@context": {
                                  "description": "The JSON-LD Context defining all terms in the Credential. This array\nSHOULD contain \"https://w3id.org/traceability/v1\".\n",
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  }
                                },
                                "id": {
                                  "description": "The IRI identifying the Credential",
                                  "type": "string"
                                },
                                "type": {
                                  "description": "The Type of the Credential",
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  },
                                  "minItems": 1
                                },
                                "issuer": {
                                  "description": "This value MUST match the assertionMethod used to create the Verifiable Credential.",
                                  "oneOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "object",
                                      "required": [
                                        "id"
                                      ],
                                      "properties": {
                                        "id": {
                                          "description": "The IRI identifying the Issuer",
                                          "type": "string"
                                        }
                                      }
                                    }
                                  ]
                                },
                                "issuanceDate": {
                                  "description": "This value MUST be an XML Date Time String",
                                  "type": "string"
                                },
                                "credentialSubject": {
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "description": "The IRI identifying the Subject",
                                      "type": "string"
                                    }
                                  }
                                }
                              },
                              "example": {
                                "@context": [
                                  "https://www.w3.org/2018/credentials/v1",
                                  "https://w3id.org/traceability/v1"
                                ],
                                "id": "urn:uuid:07aa969e-b40d-4c1b-ab46-ded252003ded",
                                "type": [
                                  "VerifiableCredential"
                                ],
                                "issuer": "did:key:z6MktiSzqF9kqwdU8VkdBKx56EYzXfpgnNPUAGznpicNiWfn",
                                "issuanceDate": "2010-01-01T19:23:24Z",
                                "credentialSubject": {
                                  "id": "did:key:z6MktiSzqF9kqwdU8VkdBKx56EYzXfpgnNPUAGznpicNiWfn"
                                }
                              }
                            },
                            {
                              "type": "object",
                              "required": [
                                "proof"
                              ],
                              "properties": {
                                "proof": {
                                  "title": "Credential Linked Data Proof",
                                  "allOf": [
                                    {
                                      "title": "Linked Data Proof",
                                      "type": "object",
                                      "description": "A JSON-LD Linked Data proof.",
                                      "required": [
                                        "type"
                                      ],
                                      "properties": {
                                        "type": {
                                          "type": "string",
                                          "description": "Linked Data Signature Suite used to produce proof.",
                                          "enum": [
                                            "Ed25519Signature2018",
                                            "JsonWebSignature2020",
                                            "jwt_vc"
                                          ]
                                        },
                                        "created": {
                                          "type": "string",
                                          "description": "Date the proof was created."
                                        },
                                        "verificationMethod": {
                                          "type": "string",
                                          "description": "Verification Method used to verify proof."
                                        },
                                        "jws": {
                                          "type": "string",
                                          "description": "Detached JSON Web Signature"
                                        }
                                      },
                                      "example": {
                                        "type": "JsonWebSignature2020",
                                        "created": "2020-04-02T18:28:08Z",
                                        "verificationMethod": "did:example:123#z6MksHh7qHWvybLg5QTPPdG2DgEjjduBDArV9EF9mRiRzMBN",
                                        "proofPurpose": "assertionMethod",
                                        "jws": "eyJhbGciOiJFZERTQSIsImI2NCI6ZmFsc2UsImNyaXQiOlsiYjY0Il19..YtqjEYnFENT7fNW-COD0HAACxeuQxPKAmp4nIl8jYAu__6IH2FpSxv81w-l5PvE1og50tS9tH8WyXMlXyo45CA"
                                      }
                                    },
                                    {
                                      "type": "object",
                                      "properties": {
                                        "proofPurpose": {
                                          "type": "string",
                                          "description": "Credentials rely on assertionMethod proof purpose.",
                                          "enum": [
                                            "assertionMethod"
                                          ]
                                        }
                                      }
                                    }
                                  ]
                                }
                              }
                            }
                          ],
                          "example": {
                            "@context": [
                              "https://www.w3.org/2018/credentials/v1",
                              "https://w3id.org/traceability/v1"
                            ],
                            "id": "urn:uuid:07aa969e-b40d-4c1b-ab46-ded252003ded",
                            "type": [
                              "VerifiableCredential"
                            ],
                            "issuer": "did:key:z6MktiSzqF9kqwdU8VkdBKx56EYzXfpgnNPUAGznpicNiWfn",
                            "issuanceDate": "2010-01-01T19:23:24Z",
                            "credentialSubject": {
                              "id": "did:key:z6MktiSzqF9kqwdU8VkdBKx56EYzXfpgnNPUAGznpicNiWfn"
                            },
                            "proof": {
                              "type": "Ed25519Signature2018",
                              "created": "2021-10-30T19:16:30Z",
                              "verificationMethod": "did:key:z6MktiSzqF9kqwdU8VkdBKx56EYzXfpgnNPUAGznpicNiWfn#z6MktiSzqF9kqwdU8VkdBKx56EYzXfpgnNPUAGznpicNiWfn",
                              "proofPurpose": "assertionMethod",
                              "jws": "eyJhbGciOiJFZERTQSIsImI2NCI6ZmFsc2UsImNyaXQiOlsiYjY0Il19..puetBYS3pkYlYzAecBiT-WkigYAlVbslrz9wPFnk9JW4AwjrpJvcsSdZJPhZtNy_myMJUNzC_QaYyw3ni1V0BA"
                            }
                          }
                        },
                        {
                          "title": "VC JWT",
                          "type": "string",
                          "example": "eyJhbGciOiJFZERTQSIsImtpZCI6ImRpZDprZXk6ejZNa3RpU3pxRjlrcXdkVThWa2RCS3g1NkVZelhmcGduTlBVQUd6bnBpY05pV2ZuI3o2TWt0aVN6cUY5a3F3ZFU4VmtkQkt4NTZFWXpYZnBnbk5QVUFHem5waWNOaVdmbiJ9.eyJpc3MiOiJkaWQ6a2V5Ono2TWt0aVN6cUY5a3F3ZFU4VmtkQkt4NTZFWXpYZnBnbk5QVUFHem5waWNOaVdmbiIsInN1YiI6ImRpZDprZXk6ejZNa3RpU3pxRjlrcXdkVThWa2RCS3g1NkVZelhmcGduTlBVQUd6bnBpY05pV2ZuIiwidmMiOnsiQGNvbnRleHQiOlsiaHR0cHM6Ly93d3cudzMub3JnLzIwMTgvY3JlZGVudGlhbHMvdjEiLCJodHRwczovL3czaWQub3JnL3NlY3VyaXR5L3N1aXRlcy9qd3MtMjAyMC92MSJdLCJpZCI6InVybjp1dWlkOjA3YWE5NjllLWI0MGQtNGMxYi1hYjQ2LWRlZDI1MjAwM2RlZCIsInR5cGUiOlsiVmVyaWZpYWJsZUNyZWRlbnRpYWwiXSwiaXNzdWVyIjoiZGlkOmtleTp6Nk1rdGlTenFGOWtxd2RVOFZrZEJLeDU2RVl6WGZwZ25OUFVBR3pucGljTmlXZm4iLCJpc3N1YW5jZURhdGUiOiIyMDEwLTAxLTAxVDE5OjIzOjI0WiIsImNyZWRlbnRpYWxTdWJqZWN0IjoiZGlkOmtleTp6Nk1rdGlTenFGOWtxd2RVOFZrZEJLeDU2RVl6WGZwZ25OUFVBR3pucGljTmlXZm4ifSwianRpIjoidXJuOnV1aWQ6MDdhYTk2OWUtYjQwZC00YzFiLWFiNDYtZGVkMjUyMDAzZGVkIiwibmJmIjoxMjYyMzczODA0fQ.ZXlKaGJHY2lPaUpGWkVSVFFTSXNJbUkyTkNJNlptRnNjMlVzSW1OeWFYUWlPbHNpWWpZMElsMTkuLlBUZ1N5UndTRmdRRmZRQXJRSkVfUm43c3cyNzJRZnhlTUZjYk16R05KZDRKVGtWS3d4a2p1UzRXQV9xTGdhM2NGYzRKd0JILXJPMk5haTFfRExsWEF3"
                        }
                      ],
                      "example": {
                        "@context": [
                          "https://www.w3.org/2018/credentials/v1",
                          "https://w3id.org/traceability/v1"
                        ],
                        "id": "urn:uuid:07aa969e-b40d-4c1b-ab46-ded252003ded",
                        "type": [
                          "VerifiableCredential"
                        ],
                        "issuer": "did:key:z6MktiSzqF9kqwdU8VkdBKx56EYzXfpgnNPUAGznpicNiWfn",
                        "issuanceDate": "2010-01-01T19:23:24Z",
                        "credentialSubject": {
                          "id": "did:key:z6MktiSzqF9kqwdU8VkdBKx56EYzXfpgnNPUAGznpicNiWfn"
                        },
                        "proof": {
                          "type": "Ed25519Signature2018",
                          "created": "2021-10-30T19:16:30Z",
                          "verificationMethod": "did:key:z6MktiSzqF9kqwdU8VkdBKx56EYzXfpgnNPUAGznpicNiWfn#z6MktiSzqF9kqwdU8VkdBKx56EYzXfpgnNPUAGznpicNiWfn",
                          "proofPurpose": "assertionMethod",
                          "jws": "eyJhbGciOiJFZERTQSIsImI2NCI6ZmFsc2UsImNyaXQiOlsiYjY0Il19..puetBYS3pkYlYzAecBiT-WkigYAlVbslrz9wPFnk9JW4AwjrpJvcsSdZJPhZtNy_myMJUNzC_QaYyw3ni1V0BA"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "required": [
                        "message"
                      ],
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "details": {
                          "oneOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            },
                            {
                              "type": "object",
                              "additionalProperties": true
                            }
                          ]
                        }
                      }
                    },
                    {
                      "type": "object",
                      "properties": {
                        "message": {
                          "enum": [
                            "Bad Request: Your request body does not conform to the required schema"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "required": [
                        "message"
                      ],
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "details": {
                          "oneOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            },
                            {
                              "type": "object",
                              "additionalProperties": true
                            }
                          ]
                        }
                      }
                    },
                    {
                      "type": "object",
                      "properties": {
                        "message": {
                          "enum": [
                            "Unauthorized: This endpoint requires an OAuth2 bearer token"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "required": [
                        "message"
                      ],
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "details": {
                          "oneOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            },
                            {
                              "type": "object",
                              "additionalProperties": true
                            }
                          ]
                        }
                      }
                    },
                    {
                      "type": "object",
                      "properties": {
                        "message": {
                          "enum": [
                            "Forbidden: OAuth2 bearer token does not have the required scope"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Unknown Issuer",
            "content": {
              "application/json": {
                "schema": {
                  "description": "ErrUnknownIssuer is returned when the implementation does not have private\nkey material for the requested `issuer`, and is therefore unable to issue\nthe requested credential.\n",
                  "allOf": [
                    {
                      "type": "object",
                      "required": [
                        "message"
                      ],
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "details": {
                          "oneOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            },
                            {
                              "type": "object",
                              "additionalProperties": true
                            }
                          ]
                        }
                      }
                    },
                    {
                      "type": "object",
                      "properties": {
                        "message": {
                          "enum": [
                            "Unknown Issuer: Unable to issue credentials for specified issuer"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Unexpected Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "message"
                  ],
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "details": {
                      "oneOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        {
                          "type": "object",
                          "additionalProperties": true
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/credentials/status": {
      "post": {
        "summary": "Update Status",
        "operationId": "updateCredentialStatus",
        "description": "Updates the status of an issued credential.",
        "tags": [
          "Credentials"
        ],
        "security": [
          {
            "OAuth2": [
              "update:credentials"
            ]
          }
        ],
        "requestBody": {
          "description": "Parameters for updating the status of the issued credential.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Request for updating the status of an issued credential.",
                "required": [
                  "credentialId",
                  "credentialStatus"
                ],
                "properties": {
                  "credentialId": {
                    "type": "string"
                  },
                  "credentialStatus": {
                    "type": "array",
                    "maxItems": 1,
                    "items": {
                      "type": "object",
                      "required": [
                        "type",
                        "status"
                      ],
                      "properties": {
                        "type": {
                          "type": "string",
                          "enum": [
                            "StatusList2021Entry"
                          ]
                        },
                        "statusPurpose": {
                          "type": "string",
                          "enum": [
                            "revocation",
                            "suspension",
                            "status"
                          ],
                          "description": "The value of `statusPurpose` should match the `statusPurpose` property on the StatusList2021Credential referred to by the credential being updated."
                        },
                        "status": {
                          "description": "In the case of revocation or suspension status lists, use a string value of \"1\" (one) to indicate \"revoked\"/\"suspended\", or \"0\" (zero) to indicate otherwise.",
                          "type": "string",
                          "enum": [
                            "0",
                            "1"
                          ]
                        }
                      }
                    }
                  }
                },
                "example": {
                  "credentialId": "urn:uuid:45a44711-e457-4fa8-9b89-69fe0287c86a",
                  "statusPurpose": "revocation",
                  "credentialStatus": [
                    {
                      "type": "StatusList2021Entry",
                      "status": "0"
                    }
                  ]
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Expected response to a valid request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "required": [
                        "message"
                      ],
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "details": {
                          "oneOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            },
                            {
                              "type": "object",
                              "additionalProperties": true
                            }
                          ]
                        }
                      }
                    },
                    {
                      "type": "object",
                      "properties": {
                        "message": {
                          "enum": [
                            "Bad Request: Your request body does not conform to the required schema"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "required": [
                        "message"
                      ],
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "details": {
                          "oneOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            },
                            {
                              "type": "object",
                              "additionalProperties": true
                            }
                          ]
                        }
                      }
                    },
                    {
                      "type": "object",
                      "properties": {
                        "message": {
                          "enum": [
                            "Unauthorized: This endpoint requires an OAuth2 bearer token"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "required": [
                        "message"
                      ],
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "details": {
                          "oneOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            },
                            {
                              "type": "object",
                              "additionalProperties": true
                            }
                          ]
                        }
                      }
                    },
                    {
                      "type": "object",
                      "properties": {
                        "message": {
                          "enum": [
                            "Forbidden: OAuth2 bearer token does not have the required scope"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "required": [
                        "message"
                      ],
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "details": {
                          "oneOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            },
                            {
                              "type": "object",
                              "additionalProperties": true
                            }
                          ]
                        }
                      }
                    },
                    {
                      "type": "object",
                      "properties": {
                        "message": {
                          "enum": [
                            "Not Found: The requested resource could not be found"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Unexpected Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "message"
                  ],
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "details": {
                      "oneOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        {
                          "type": "object",
                          "additionalProperties": true
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/credentials/verify": {
      "post": {
        "summary": "Verify",
        "operationId": "verifyCredential",
        "description": "Verify a credential",
        "tags": [
          "Credentials"
        ],
        "security": [
          {
            "OAuth2": [
              "verify:credentials"
            ]
          }
        ],
        "parameters": [
          {
            "name": "vc-format",
            "in": "header",
            "required": true,
            "description": "A verifiable credential format",
            "example": "vc",
            "schema": {
              "type": "string",
              "enum": [
                "vc",
                "vc-jwt"
              ]
            }
          }
        ],
        "requestBody": {
          "description": "Parameters for verifying a credential.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "verifiableCredential"
                ],
                "properties": {
                  "verifiableCredential": {
                    "title": "Serialized Verifiable Credential",
                    "oneOf": [
                      {
                        "title": "Verifiable Credential",
                        "type": "object",
                        "allOf": [
                          {
                            "type": "object",
                            "required": [
                              "@context",
                              "type",
                              "issuer",
                              "issuanceDate",
                              "credentialSubject"
                            ],
                            "properties": {
                              "@context": {
                                "description": "The JSON-LD Context defining all terms in the Credential. This array\nSHOULD contain \"https://w3id.org/traceability/v1\".\n",
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "id": {
                                "description": "The IRI identifying the Credential",
                                "type": "string"
                              },
                              "type": {
                                "description": "The Type of the Credential",
                                "type": "array",
                                "items": {
                                  "type": "string"
                                },
                                "minItems": 1
                              },
                              "issuer": {
                                "description": "This value MUST match the assertionMethod used to create the Verifiable Credential.",
                                "oneOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "object",
                                    "required": [
                                      "id"
                                    ],
                                    "properties": {
                                      "id": {
                                        "description": "The IRI identifying the Issuer",
                                        "type": "string"
                                      }
                                    }
                                  }
                                ]
                              },
                              "issuanceDate": {
                                "description": "This value MUST be an XML Date Time String",
                                "type": "string"
                              },
                              "credentialSubject": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "description": "The IRI identifying the Subject",
                                    "type": "string"
                                  }
                                }
                              }
                            },
                            "example": {
                              "@context": [
                                "https://www.w3.org/2018/credentials/v1",
                                "https://w3id.org/traceability/v1"
                              ],
                              "id": "urn:uuid:07aa969e-b40d-4c1b-ab46-ded252003ded",
                              "type": [
                                "VerifiableCredential"
                              ],
                              "issuer": "did:key:z6MktiSzqF9kqwdU8VkdBKx56EYzXfpgnNPUAGznpicNiWfn",
                              "issuanceDate": "2010-01-01T19:23:24Z",
                              "credentialSubject": {
                                "id": "did:key:z6MktiSzqF9kqwdU8VkdBKx56EYzXfpgnNPUAGznpicNiWfn"
                              }
                            }
                          },
                          {
                            "type": "object",
                            "required": [
                              "proof"
                            ],
                            "properties": {
                              "proof": {
                                "title": "Credential Linked Data Proof",
                                "allOf": [
                                  {
                                    "title": "Linked Data Proof",
                                    "type": "object",
                                    "description": "A JSON-LD Linked Data proof.",
                                    "required": [
                                      "type"
                                    ],
                                    "properties": {
                                      "type": {
                                        "type": "string",
                                        "description": "Linked Data Signature Suite used to produce proof.",
                                        "enum": [
                                          "Ed25519Signature2018",
                                          "JsonWebSignature2020",
                                          "jwt_vc"
                                        ]
                                      },
                                      "created": {
                                        "type": "string",
                                        "description": "Date the proof was created."
                                      },
                                      "verificationMethod": {
                                        "type": "string",
                                        "description": "Verification Method used to verify proof."
                                      },
                                      "jws": {
                                        "type": "string",
                                        "description": "Detached JSON Web Signature"
                                      }
                                    },
                                    "example": {
                                      "type": "JsonWebSignature2020",
                                      "created": "2020-04-02T18:28:08Z",
                                      "verificationMethod": "did:example:123#z6MksHh7qHWvybLg5QTPPdG2DgEjjduBDArV9EF9mRiRzMBN",
                                      "proofPurpose": "assertionMethod",
                                      "jws": "eyJhbGciOiJFZERTQSIsImI2NCI6ZmFsc2UsImNyaXQiOlsiYjY0Il19..YtqjEYnFENT7fNW-COD0HAACxeuQxPKAmp4nIl8jYAu__6IH2FpSxv81w-l5PvE1og50tS9tH8WyXMlXyo45CA"
                                    }
                                  },
                                  {
                                    "type": "object",
                                    "properties": {
                                      "proofPurpose": {
                                        "type": "string",
                                        "description": "Credentials rely on assertionMethod proof purpose.",
                                        "enum": [
                                          "assertionMethod"
                                        ]
                                      }
                                    }
                                  }
                                ]
                              }
                            }
                          }
                        ],
                        "example": {
                          "@context": [
                            "https://www.w3.org/2018/credentials/v1",
                            "https://w3id.org/traceability/v1"
                          ],
                          "id": "urn:uuid:07aa969e-b40d-4c1b-ab46-ded252003ded",
                          "type": [
                            "VerifiableCredential"
                          ],
                          "issuer": "did:key:z6MktiSzqF9kqwdU8VkdBKx56EYzXfpgnNPUAGznpicNiWfn",
                          "issuanceDate": "2010-01-01T19:23:24Z",
                          "credentialSubject": {
                            "id": "did:key:z6MktiSzqF9kqwdU8VkdBKx56EYzXfpgnNPUAGznpicNiWfn"
                          },
                          "proof": {
                            "type": "Ed25519Signature2018",
                            "created": "2021-10-30T19:16:30Z",
                            "verificationMethod": "did:key:z6MktiSzqF9kqwdU8VkdBKx56EYzXfpgnNPUAGznpicNiWfn#z6MktiSzqF9kqwdU8VkdBKx56EYzXfpgnNPUAGznpicNiWfn",
                            "proofPurpose": "assertionMethod",
                            "jws": "eyJhbGciOiJFZERTQSIsImI2NCI6ZmFsc2UsImNyaXQiOlsiYjY0Il19..puetBYS3pkYlYzAecBiT-WkigYAlVbslrz9wPFnk9JW4AwjrpJvcsSdZJPhZtNy_myMJUNzC_QaYyw3ni1V0BA"
                          }
                        }
                      },
                      {
                        "title": "VC JWT",
                        "type": "string",
                        "example": "eyJhbGciOiJFZERTQSIsImtpZCI6ImRpZDprZXk6ejZNa3RpU3pxRjlrcXdkVThWa2RCS3g1NkVZelhmcGduTlBVQUd6bnBpY05pV2ZuI3o2TWt0aVN6cUY5a3F3ZFU4VmtkQkt4NTZFWXpYZnBnbk5QVUFHem5waWNOaVdmbiJ9.eyJpc3MiOiJkaWQ6a2V5Ono2TWt0aVN6cUY5a3F3ZFU4VmtkQkt4NTZFWXpYZnBnbk5QVUFHem5waWNOaVdmbiIsInN1YiI6ImRpZDprZXk6ejZNa3RpU3pxRjlrcXdkVThWa2RCS3g1NkVZelhmcGduTlBVQUd6bnBpY05pV2ZuIiwidmMiOnsiQGNvbnRleHQiOlsiaHR0cHM6Ly93d3cudzMub3JnLzIwMTgvY3JlZGVudGlhbHMvdjEiLCJodHRwczovL3czaWQub3JnL3NlY3VyaXR5L3N1aXRlcy9qd3MtMjAyMC92MSJdLCJpZCI6InVybjp1dWlkOjA3YWE5NjllLWI0MGQtNGMxYi1hYjQ2LWRlZDI1MjAwM2RlZCIsInR5cGUiOlsiVmVyaWZpYWJsZUNyZWRlbnRpYWwiXSwiaXNzdWVyIjoiZGlkOmtleTp6Nk1rdGlTenFGOWtxd2RVOFZrZEJLeDU2RVl6WGZwZ25OUFVBR3pucGljTmlXZm4iLCJpc3N1YW5jZURhdGUiOiIyMDEwLTAxLTAxVDE5OjIzOjI0WiIsImNyZWRlbnRpYWxTdWJqZWN0IjoiZGlkOmtleTp6Nk1rdGlTenFGOWtxd2RVOFZrZEJLeDU2RVl6WGZwZ25OUFVBR3pucGljTmlXZm4ifSwianRpIjoidXJuOnV1aWQ6MDdhYTk2OWUtYjQwZC00YzFiLWFiNDYtZGVkMjUyMDAzZGVkIiwibmJmIjoxMjYyMzczODA0fQ.ZXlKaGJHY2lPaUpGWkVSVFFTSXNJbUkyTkNJNlptRnNjMlVzSW1OeWFYUWlPbHNpWWpZMElsMTkuLlBUZ1N5UndTRmdRRmZRQXJRSkVfUm43c3cyNzJRZnhlTUZjYk16R05KZDRKVGtWS3d4a2p1UzRXQV9xTGdhM2NGYzRKd0JILXJPMk5haTFfRExsWEF3"
                      }
                    ],
                    "example": {
                      "@context": [
                        "https://www.w3.org/2018/credentials/v1",
                        "https://w3id.org/traceability/v1"
                      ],
                      "id": "urn:uuid:07aa969e-b40d-4c1b-ab46-ded252003ded",
                      "type": [
                        "VerifiableCredential"
                      ],
                      "issuer": "did:key:z6MktiSzqF9kqwdU8VkdBKx56EYzXfpgnNPUAGznpicNiWfn",
                      "issuanceDate": "2010-01-01T19:23:24Z",
                      "credentialSubject": {
                        "id": "did:key:z6MktiSzqF9kqwdU8VkdBKx56EYzXfpgnNPUAGznpicNiWfn"
                      },
                      "proof": {
                        "type": "Ed25519Signature2018",
                        "created": "2021-10-30T19:16:30Z",
                        "verificationMethod": "did:key:z6MktiSzqF9kqwdU8VkdBKx56EYzXfpgnNPUAGznpicNiWfn#z6MktiSzqF9kqwdU8VkdBKx56EYzXfpgnNPUAGznpicNiWfn",
                        "proofPurpose": "assertionMethod",
                        "jws": "eyJhbGciOiJFZERTQSIsImI2NCI6ZmFsc2UsImNyaXQiOlsiYjY0Il19..puetBYS3pkYlYzAecBiT-WkigYAlVbslrz9wPFnk9JW4AwjrpJvcsSdZJPhZtNy_myMJUNzC_QaYyw3ni1V0BA"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Expected response to a valid request",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Verification Result",
                  "type": "object",
                  "properties": {
                    "verified": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "verified"
                  ],
                  "additionalProperties": true,
                  "example": {
                    "verified": true
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "required": [
                        "message"
                      ],
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "details": {
                          "oneOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            },
                            {
                              "type": "object",
                              "additionalProperties": true
                            }
                          ]
                        }
                      }
                    },
                    {
                      "type": "object",
                      "properties": {
                        "message": {
                          "enum": [
                            "Bad Request: Your request body does not conform to the required schema"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "required": [
                        "message"
                      ],
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "details": {
                          "oneOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            },
                            {
                              "type": "object",
                              "additionalProperties": true
                            }
                          ]
                        }
                      }
                    },
                    {
                      "type": "object",
                      "properties": {
                        "message": {
                          "enum": [
                            "Unauthorized: This endpoint requires an OAuth2 bearer token"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "required": [
                        "message"
                      ],
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "details": {
                          "oneOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            },
                            {
                              "type": "object",
                              "additionalProperties": true
                            }
                          ]
                        }
                      }
                    },
                    {
                      "type": "object",
                      "properties": {
                        "message": {
                          "enum": [
                            "Forbidden: OAuth2 bearer token does not have the required scope"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Unexpected Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "message"
                  ],
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "details": {
                      "oneOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        {
                          "type": "object",
                          "additionalProperties": true
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/credentials/{credential-id}": {
      "get": {
        "summary": "Get Credential",
        "operationId": "getCredentialById",
        "description": "Get a verifiable credential by id. Required to make revocable credentials.",
        "tags": [
          "Credentials"
        ],
        "security": [
          {},
          {
            "OAuth2": [
              "read:credentials"
            ]
          }
        ],
        "parameters": [
          {
            "name": "credential-id",
            "in": "path",
            "required": true,
            "description": "A verifiable credential id",
            "example": "810b3c74-4e80-420d-a8fe-7bde4c978e91",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Expected response to a valid request",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Status List Verifiable Credential",
                  "type": "object",
                  "allOf": [
                    {
                      "type": "object",
                      "required": [
                        "@context",
                        "type",
                        "issuer",
                        "issuanceDate",
                        "credentialSubject"
                      ],
                      "properties": {
                        "@context": {
                          "description": "The JSON-LD Context defining all terms in the Credential. This array\nSHOULD contain \"https://w3id.org/traceability/v1\".\n",
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "id": {
                          "description": "The IRI identifying the Credential",
                          "type": "string"
                        },
                        "type": {
                          "description": "The Type of the Credential",
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "minItems": 1
                        },
                        "issuer": {
                          "description": "This value MUST match the assertionMethod used to create the Verifiable Credential.",
                          "oneOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "object",
                              "required": [
                                "id"
                              ],
                              "properties": {
                                "id": {
                                  "description": "The IRI identifying the Issuer",
                                  "type": "string"
                                }
                              }
                            }
                          ]
                        },
                        "issuanceDate": {
                          "description": "This value MUST be an XML Date Time String",
                          "type": "string"
                        },
                        "credentialSubject": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "description": "The IRI identifying the Subject",
                              "type": "string"
                            }
                          }
                        }
                      },
                      "example": {
                        "@context": [
                          "https://www.w3.org/2018/credentials/v1",
                          "https://w3id.org/traceability/v1"
                        ],
                        "id": "urn:uuid:07aa969e-b40d-4c1b-ab46-ded252003ded",
                        "type": [
                          "VerifiableCredential"
                        ],
                        "issuer": "did:key:z6MktiSzqF9kqwdU8VkdBKx56EYzXfpgnNPUAGznpicNiWfn",
                        "issuanceDate": "2010-01-01T19:23:24Z",
                        "credentialSubject": {
                          "id": "did:key:z6MktiSzqF9kqwdU8VkdBKx56EYzXfpgnNPUAGznpicNiWfn"
                        }
                      }
                    },
                    {
                      "type": "object",
                      "properties": {
                        "proof": {
                          "title": "Credential Linked Data Proof",
                          "allOf": [
                            {
                              "title": "Linked Data Proof",
                              "type": "object",
                              "description": "A JSON-LD Linked Data proof.",
                              "required": [
                                "type"
                              ],
                              "properties": {
                                "type": {
                                  "type": "string",
                                  "description": "Linked Data Signature Suite used to produce proof.",
                                  "enum": [
                                    "Ed25519Signature2018",
                                    "JsonWebSignature2020",
                                    "jwt_vc"
                                  ]
                                },
                                "created": {
                                  "type": "string",
                                  "description": "Date the proof was created."
                                },
                                "verificationMethod": {
                                  "type": "string",
                                  "description": "Verification Method used to verify proof."
                                },
                                "jws": {
                                  "type": "string",
                                  "description": "Detached JSON Web Signature"
                                }
                              },
                              "example": {
                                "type": "JsonWebSignature2020",
                                "created": "2020-04-02T18:28:08Z",
                                "verificationMethod": "did:example:123#z6MksHh7qHWvybLg5QTPPdG2DgEjjduBDArV9EF9mRiRzMBN",
                                "proofPurpose": "assertionMethod",
                                "jws": "eyJhbGciOiJFZERTQSIsImI2NCI6ZmFsc2UsImNyaXQiOlsiYjY0Il19..YtqjEYnFENT7fNW-COD0HAACxeuQxPKAmp4nIl8jYAu__6IH2FpSxv81w-l5PvE1og50tS9tH8WyXMlXyo45CA"
                              }
                            },
                            {
                              "type": "object",
                              "properties": {
                                "proofPurpose": {
                                  "type": "string",
                                  "description": "Credentials rely on assertionMethod proof purpose.",
                                  "enum": [
                                    "assertionMethod"
                                  ]
                                }
                              }
                            }
                          ]
                        }
                      }
                    }
                  ],
                  "required": [
                    "id"
                  ],
                  "example": {
                    "@context": [
                      "https://www.w3.org/2018/credentials/v1",
                      "https://w3id.org/vc/status-list/2021/v1"
                    ],
                    "credentialSubject": {
                      "encodedList": "H4sIAAAAAAAA/2IYBaNgFIyCUTAKRsGIA4AAAAD//5666PEACAAA",
                      "statusPurpose": "revocation",
                      "statusSize": 1,
                      "ttl": 5000,
                      "type": "StatusList2021",
                      "validFrom": "2023-06-19T23:31:48Z",
                      "validUntil": "2023-06-20T23:31:48Z"
                    },
                    "id": "https://vc.mesur.io/v1/credentials/status",
                    "issuanceDate": "2023-06-19T23:31:48Z",
                    "issuer": "did:web:vc.mesur.io:v1",
                    "proof": {
                      "created": "2023-06-19T23:31:48.340168266Z",
                      "proofPurpose": "assertionMethod",
                      "proofValue": "vqq6FUPqrCEq5FcnkiiqLM0LSocvAu1InUlPq23oeikXj-meZCZmLrwYQp2K1raf_wmyBEtfZMHjvoHh-3YrAg",
                      "type": "Ed25519Signature2018",
                      "verificationMethod": "did:key:z6Mkf5p6p73kd57TRr2zWC1NuMUt3SjtYNANn9qjYXZPAYJV#z6Mkf5p6p73kd57TRr2zWC1NuMUt3SjtYNANn9qjYXZPAYJV"
                    },
                    "type": [
                      "VerifiableCredential",
                      "StatusList2021Credential"
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "required": [
                        "message"
                      ],
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "details": {
                          "oneOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            },
                            {
                              "type": "object",
                              "additionalProperties": true
                            }
                          ]
                        }
                      }
                    },
                    {
                      "type": "object",
                      "properties": {
                        "message": {
                          "enum": [
                            "Unauthorized: This endpoint requires an OAuth2 bearer token"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "required": [
                        "message"
                      ],
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "details": {
                          "oneOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            },
                            {
                              "type": "object",
                              "additionalProperties": true
                            }
                          ]
                        }
                      }
                    },
                    {
                      "type": "object",
                      "properties": {
                        "message": {
                          "enum": [
                            "Forbidden: OAuth2 bearer token does not have the required scope"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "required": [
                        "message"
                      ],
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "details": {
                          "oneOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            },
                            {
                              "type": "object",
                              "additionalProperties": true
                            }
                          ]
                        }
                      }
                    },
                    {
                      "type": "object",
                      "properties": {
                        "message": {
                          "enum": [
                            "Not Found: The requested resource could not be found"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Unexpected Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "message"
                  ],
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "details": {
                      "oneOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        {
                          "type": "object",
                          "additionalProperties": true
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/presentations": {
      "post": {
        "summary": "Present",
        "operationId": "submitPresentationWithOAuth2Security",
        "description": "Create a presentation. This endpoint allows clients holding a valid OAuth2 access token (with the appropriate scopes) to create a presentation.\n",
        "tags": [
          "Presentations"
        ],
        "security": [
          {
            "OAuth2": [
              "submit:presentations"
            ]
          }
        ],
        "requestBody": {
          "description": "Description of the flow",
          "content": {
            "application/json": {
              "schema": {
                "title": "Presentation",
                "type": "object",
                "required": [
                  "@context",
                  "id",
                  "type"
                ],
                "properties": {
                  "@context": {
                    "description": "The JSON-LD Context defining all terms in the Presentation. This array\nMUST contain \"https://w3id.org/traceability/v1\".\n",
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "id": {
                    "type": "string"
                  },
                  "type": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "holder": {
                    "type": "string"
                  },
                  "verifiableCredential": {
                    "type": "array",
                    "items": {
                      "title": "Serialized Verifiable Credential",
                      "oneOf": [
                        {
                          "title": "Verifiable Credential",
                          "type": "object",
                          "allOf": [
                            {
                              "type": "object",
                              "required": [
                                "@context",
                                "type",
                                "issuer",
                                "issuanceDate",
                                "credentialSubject"
                              ],
                              "properties": {
                                "@context": {
                                  "description": "The JSON-LD Context defining all terms in the Credential. This array\nSHOULD contain \"https://w3id.org/traceability/v1\".\n",
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  }
                                },
                                "id": {
                                  "description": "The IRI identifying the Credential",
                                  "type": "string"
                                },
                                "type": {
                                  "description": "The Type of the Credential",
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  },
                                  "minItems": 1
                                },
                                "issuer": {
                                  "description": "This value MUST match the assertionMethod used to create the Verifiable Credential.",
                                  "oneOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "object",
                                      "required": [
                                        "id"
                                      ],
                                      "properties": {
                                        "id": {
                                          "description": "The IRI identifying the Issuer",
                                          "type": "string"
                                        }
                                      }
                                    }
                                  ]
                                },
                                "issuanceDate": {
                                  "description": "This value MUST be an XML Date Time String",
                                  "type": "string"
                                },
                                "credentialSubject": {
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "description": "The IRI identifying the Subject",
                                      "type": "string"
                                    }
                                  }
                                }
                              },
                              "example": {
                                "@context": [
                                  "https://www.w3.org/2018/credentials/v1",
                                  "https://w3id.org/traceability/v1"
                                ],
                                "id": "urn:uuid:07aa969e-b40d-4c1b-ab46-ded252003ded",
                                "type": [
                                  "VerifiableCredential"
                                ],
                                "issuer": "did:key:z6MktiSzqF9kqwdU8VkdBKx56EYzXfpgnNPUAGznpicNiWfn",
                                "issuanceDate": "2010-01-01T19:23:24Z",
                                "credentialSubject": {
                                  "id": "did:key:z6MktiSzqF9kqwdU8VkdBKx56EYzXfpgnNPUAGznpicNiWfn"
                                }
                              }
                            },
                            {
                              "type": "object",
                              "required": [
                                "proof"
                              ],
                              "properties": {
                                "proof": {
                                  "title": "Credential Linked Data Proof",
                                  "allOf": [
                                    {
                                      "title": "Linked Data Proof",
                                      "type": "object",
                                      "description": "A JSON-LD Linked Data proof.",
                                      "required": [
                                        "type"
                                      ],
                                      "properties": {
                                        "type": {
                                          "type": "string",
                                          "description": "Linked Data Signature Suite used to produce proof.",
                                          "enum": [
                                            "Ed25519Signature2018",
                                            "JsonWebSignature2020",
                                            "jwt_vc"
                                          ]
                                        },
                                        "created": {
                                          "type": "string",
                                          "description": "Date the proof was created."
                                        },
                                        "verificationMethod": {
                                          "type": "string",
                                          "description": "Verification Method used to verify proof."
                                        },
                                        "jws": {
                                          "type": "string",
                                          "description": "Detached JSON Web Signature"
                                        }
                                      },
                                      "example": {
                                        "type": "JsonWebSignature2020",
                                        "created": "2020-04-02T18:28:08Z",
                                        "verificationMethod": "did:example:123#z6MksHh7qHWvybLg5QTPPdG2DgEjjduBDArV9EF9mRiRzMBN",
                                        "proofPurpose": "assertionMethod",
                                        "jws": "eyJhbGciOiJFZERTQSIsImI2NCI6ZmFsc2UsImNyaXQiOlsiYjY0Il19..YtqjEYnFENT7fNW-COD0HAACxeuQxPKAmp4nIl8jYAu__6IH2FpSxv81w-l5PvE1og50tS9tH8WyXMlXyo45CA"
                                      }
                                    },
                                    {
                                      "type": "object",
                                      "properties": {
                                        "proofPurpose": {
                                          "type": "string",
                                          "description": "Credentials rely on assertionMethod proof purpose.",
                                          "enum": [
                                            "assertionMethod"
                                          ]
                                        }
                                      }
                                    }
                                  ]
                                }
                              }
                            }
                          ],
                          "example": {
                            "@context": [
                              "https://www.w3.org/2018/credentials/v1",
                              "https://w3id.org/traceability/v1"
                            ],
                            "id": "urn:uuid:07aa969e-b40d-4c1b-ab46-ded252003ded",
                            "type": [
                              "VerifiableCredential"
                            ],
                            "issuer": "did:key:z6MktiSzqF9kqwdU8VkdBKx56EYzXfpgnNPUAGznpicNiWfn",
                            "issuanceDate": "2010-01-01T19:23:24Z",
                            "credentialSubject": {
                              "id": "did:key:z6MktiSzqF9kqwdU8VkdBKx56EYzXfpgnNPUAGznpicNiWfn"
                            },
                            "proof": {
                              "type": "Ed25519Signature2018",
                              "created": "2021-10-30T19:16:30Z",
                              "verificationMethod": "did:key:z6MktiSzqF9kqwdU8VkdBKx56EYzXfpgnNPUAGznpicNiWfn#z6MktiSzqF9kqwdU8VkdBKx56EYzXfpgnNPUAGznpicNiWfn",
                              "proofPurpose": "assertionMethod",
                              "jws": "eyJhbGciOiJFZERTQSIsImI2NCI6ZmFsc2UsImNyaXQiOlsiYjY0Il19..puetBYS3pkYlYzAecBiT-WkigYAlVbslrz9wPFnk9JW4AwjrpJvcsSdZJPhZtNy_myMJUNzC_QaYyw3ni1V0BA"
                            }
                          }
                        },
                        {
                          "title": "VC JWT",
                          "type": "string",
                          "example": "eyJhbGciOiJFZERTQSIsImtpZCI6ImRpZDprZXk6ejZNa3RpU3pxRjlrcXdkVThWa2RCS3g1NkVZelhmcGduTlBVQUd6bnBpY05pV2ZuI3o2TWt0aVN6cUY5a3F3ZFU4VmtkQkt4NTZFWXpYZnBnbk5QVUFHem5waWNOaVdmbiJ9.eyJpc3MiOiJkaWQ6a2V5Ono2TWt0aVN6cUY5a3F3ZFU4VmtkQkt4NTZFWXpYZnBnbk5QVUFHem5waWNOaVdmbiIsInN1YiI6ImRpZDprZXk6ejZNa3RpU3pxRjlrcXdkVThWa2RCS3g1NkVZelhmcGduTlBVQUd6bnBpY05pV2ZuIiwidmMiOnsiQGNvbnRleHQiOlsiaHR0cHM6Ly93d3cudzMub3JnLzIwMTgvY3JlZGVudGlhbHMvdjEiLCJodHRwczovL3czaWQub3JnL3NlY3VyaXR5L3N1aXRlcy9qd3MtMjAyMC92MSJdLCJpZCI6InVybjp1dWlkOjA3YWE5NjllLWI0MGQtNGMxYi1hYjQ2LWRlZDI1MjAwM2RlZCIsInR5cGUiOlsiVmVyaWZpYWJsZUNyZWRlbnRpYWwiXSwiaXNzdWVyIjoiZGlkOmtleTp6Nk1rdGlTenFGOWtxd2RVOFZrZEJLeDU2RVl6WGZwZ25OUFVBR3pucGljTmlXZm4iLCJpc3N1YW5jZURhdGUiOiIyMDEwLTAxLTAxVDE5OjIzOjI0WiIsImNyZWRlbnRpYWxTdWJqZWN0IjoiZGlkOmtleTp6Nk1rdGlTenFGOWtxd2RVOFZrZEJLeDU2RVl6WGZwZ25OUFVBR3pucGljTmlXZm4ifSwianRpIjoidXJuOnV1aWQ6MDdhYTk2OWUtYjQwZC00YzFiLWFiNDYtZGVkMjUyMDAzZGVkIiwibmJmIjoxMjYyMzczODA0fQ.ZXlKaGJHY2lPaUpGWkVSVFFTSXNJbUkyTkNJNlptRnNjMlVzSW1OeWFYUWlPbHNpWWpZMElsMTkuLlBUZ1N5UndTRmdRRmZRQXJRSkVfUm43c3cyNzJRZnhlTUZjYk16R05KZDRKVGtWS3d4a2p1UzRXQV9xTGdhM2NGYzRKd0JILXJPMk5haTFfRExsWEF3"
                        }
                      ],
                      "example": {
                        "@context": [
                          "https://www.w3.org/2018/credentials/v1",
                          "https://w3id.org/traceability/v1"
                        ],
                        "id": "urn:uuid:07aa969e-b40d-4c1b-ab46-ded252003ded",
                        "type": [
                          "VerifiableCredential"
                        ],
                        "issuer": "did:key:z6MktiSzqF9kqwdU8VkdBKx56EYzXfpgnNPUAGznpicNiWfn",
[...]
