name: CI

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  postman:
    runs-on: ubuntu-latest
    # With the exception of GITHUB_TOKEN, secrets are not passed to the runner
    # when a workflow is triggered from a forked repository.
    if: github.repository == github.event.repository.full_name
    steps:
      - name: Check out git repository
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v1
        with:
          node-version: 16.x

      - name: Install
        run: npm i

      - name: Lint
        run: npm run lint
